:root {
    --dark-orange: #984f18;
    --light-orange: #f5d5bc;
}

* {
    background-color: var(--light-orange);
    font-family: Calibri, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: var(--dark-orange);
}

header {
  display: flex;
  flex-wrap: wrap;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  flex-wrap: wrap;
}

header div h1 {
    font-size: 75px;
    color: var(--dark-orange);
    font-weight: 400;
}

header div img {
    width: 300px;
    margin: 20px;
}

header nav {
  display: flex;
  justify-content: center;
  flex: 0 0 100%;
  border: solid  var(--dark-orange);
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-format {
    color: var(--dark-orange);
    font-weight: 500;
    font-size: 24px;
}

h2 {
    font-size: 30px;
    color: var(--dark-orange);
    font-weight: 200;
    margin-left: 0;
    text-align: right;
    background: none;
}

main section {
  display: flex;
  flex-wrap: wrap;
}

section > h2 {
  flex: 0 0 20%;
  border-right: var(--dark-orange) solid 2px;
  text-align: right;
  padding: 2%;
  margin: 2%;
}

section div {
  flex: 0 0 75%;
  padding: 2%;
}

.about-me {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  color: var(--dark-orange)
}

.workexamples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-CSS-Cheatsheet {
  display: flex;
  flex: 2 0 100%;
  border: solid var(--dark-orange);
  margin: 10px;
  padding: 100px;
  justify-content: flex-end;
  background-image: url(../Images/istockphoto-1312476362-612x612.jpg);
}

.card-CSS-Cheatsheet:hover {
  box-shadow: inset 0px 0px 8px rgb(236, 173, 102), 0 0 15px rgb(236, 173, 102);
}

.smallclasscards{
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  flex-direction: row;
}

.card {
  display: flex;
  flex: 1 0 20%;
  border: solid var(--dark-orange);
  margin: 5px;
  padding: 50px;
  background-image: url(../Images/istockphoto-1312476362-612x612.jpg);
}

.card:hover {
  box-shadow: inset 0px 0px 8px rgb(236, 173, 102), 0 0 15px rgb(236, 173, 102);
}

.contact-me {
  display: flex;
  font-weight: 500;
  font-size: 24px;
  text-decoration: underline var(--dark-orange);
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

footer h3 {
  font-size: 15px;
  color: var(--dark-orange);
  font-weight: 200;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

@media screen and (max-width: 992px) {
  section > h2 { 
    display: none;
  }
}

@media screen and (max-width: 992px) {
  nav ul {
    display: block;
    text-align: center;
    line-height: 1.1;
  }
}

@media screen and (max-width: 992px) {
  section div { 
    flex: 0 0 100%;
    flex-wrap: wrap;
    padding: 2%;
  }
}